html, body {
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

nav {
  float: right;
  position: fixed;
  right: 8%;
  z-index: 1000;
}

.ion-navicon {
  display: none;
}

li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 15px;
  background-color: rgb(230, 222, 225);
  transition: background-color 1s;
}

li:hover {
  background-color: rgb(184, 161, 169);
}

a {
  text-decoration: none;
  color: black;
}

#title {
  background-image: url("img/bg.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

#work-edu {
  width: 100vw;
  height: 80vh;
  font-size: 1.4em;
}

#skills {
  width: 100vw;
  height: 100vh;
  background-color: rgb(240, 240, 240);
  font-size: 1.4em;
}

#portfolio {
  width: 100vw;
  font-size: 1.4em;
}

#contact {
  width: 100vw;
  height: 40vh;
  background-color: rgb(167, 167, 167);
}

#title h1 {
  position: absolute;
  top: 45vh;
  left: 15vw;
}

#title h2 {
  position: absolute;
  top: 55vh;
  left: 15vw;
}

h3 {
  padding-top: 100px;
  padding-left: 100px;
  padding-bottom: 30px;
}

#portfolio h3, #contact h3  {
  padding-top: 50px;
}

.ion-android-star, .ion-android-star-half, .ion-android-star-outline {
  color: rgb(48, 2, 78)
}

table {
  margin: auto;
}

td {
  width: 200px;
  height: 60px;
}

.img-container img{
  width: 300px;
  height: 200px;
  float: left;
  margin: 10px;
  border: 1px solid rgb(167, 167, 167);
}

.img-container {
  margin-left: 8vw;
}

.img-container:after {
  content: "";
  display: table;
  clear: both;
}

.column-left {
  float: left;
  width: 25%;
}

.column-right {
  float: left;
  width: 75%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  width: 80vw;
  margin: auto;
}

.column-left-contact {
  width: 50%;
  float:left;
}

.column-right-contact {
  width: 50%;
  float: right;
  text-align: right;
}


@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    #work-edu {
      height: 50vh;
    }

    #skills {
      height: 60vh;
    }

    #contact {
      height: 20vh;
    }

    #td {
      width: 180px;
      font-size: 0.9em;
    }

    table {
      margin-left: 40px;
    }

    .img-container {
      margin-left: 60px;
    }

    nav {
      right: 10px;
    }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    body {
      font-size: 12px;
    }

    h3, #portfolio h3, #contact h3 {
      padding-top: 30px;
      padding-left: 30px;
      padding-bottom: 10px;
    }

    nav {
      display: none;
    }

    .ion-navicon {
      display: block;
      position: fixed;
      top: 10px;
      right: 20px;
      font-size: 40px;
      z-index: 1000;
    }

    li {
      display: block;
      margin: 3px;
    }

    nav {
      top: 35px;
      right: 15px;
    }

}


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    #work-edu {
      height: 60vh;
    }

    td {
      width: 100px;
      font-size: 0.8em;
    }

    #skills {
      height: 80vh;
    }

    #contact {
      height: 25vh;
    }

    .img-container {
      margin-left: 0;
    }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    td {
      height: 40px;
    }
    table {
      margin-left: 20px;
    }
    .img-container {
      margin-left: 20vw;;
    }
  }


  @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    body {
      font-size: 12px;
    }

    h3, #portfolio h3, #contact h3 {
      padding-top: 30px;
      padding-left: 30px;
      padding-bottom: 10px;
    }

    nav {
      display: none;
    }

    .ion-navicon {
      display: block;
      position: fixed;
      top: 10px;
      right: 20px;
      font-size: 40px;
      z-index: 1000;
    }

    li {
      display: block;
      margin: 3px;
    }

    nav {
      top: 35px;
      right: 15px;
    }
    #work-edu {
      height: 60vh;
    }

    td {
      width: 100px;
      font-size: 0.8em;
    }
}
